html {
    height: 100%;
}
body {
    font-family: "Times New Roman", Georgia, Serif;
    background-color: lightgoldenrodyellow;
    min-height: 100vh;
    padding: 0%;
    margin: 0%;
    position: relative;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
ul.a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #333654;
}
li .dropdown {
display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {
    display: block;
}
.header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}
.image {
    max-width: 100%;
    height: auto;
}
.display {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 12px 24px !important;
    opacity: 0.60;
}
.font{
    font-size: 36px !important;
    color: gold;
}
.aboutwatch {
    padding: 0.01em 16px;
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    text-align: center;
}
.padding {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}
.justify {
    text-align: center !important;
}
.row {
    padding: 0.292em;
    text-align: center;
}
.container {
    float: left;
    width: 16%;
    padding: 0.01em 16px;
    margin-bottom: 16px !important;
}
.contain {
    padding: 0.01em 16px;
    color: #000 !important;
}
.containerr {
    padding: 0.01em 16px;
}
.content {
    padding: 0 8px;
    padding-top: 16px !important;
    padding-bottom:16px !important;
    font-size: 18px !important;
    color: #fff !important;
}
.news {
    padding: 0.01em 16px;
    padding-top: 32 !important;
    padding-bottom: 32 !important;
    text-align: center;
}
.news-container {
    padding: 0.01em 16px;
    position: relative;
}
.highlight{
    margin-left: 0;
    margin-right: auto;
    max-width: 980px;
}

ul.b {
    list-style-type: circle;
}
.footer-distributed {
    background-color: #333;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    width: 1365px;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 70px 75px;
}
.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180;
  }

  .footer-distributed .footer-right h4 {
    color: #8f9296;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .footer-distributed .footer-right ul {
    list-style: none;
    padding: 0px;
  }

  .footer-distributed .footer-right li {
    padding: 5px 4px;
  }

  .footer-distributed .footer-right a {
    color: rgba(255,255,255,1.00);
  }

  .footer-distributed .footer-right a:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.80);
  }
 
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
    }

    .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
    }
  }